* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header Style Start*/
header {
    padding: 20px 35px;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: solid 2px black;
    border-radius: 10px;
    margin: 0 20px;
}

/*Hero Style Starts*/
.hero {
    background-image: url("/assets/images/marble.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-bg {
    height: 400px;

}

.profile {
    
}

.profile img {
    height: 200px;
    width: auto;
    margin: 100px;
    border-radius: 50%;
    text-align: right;
}


/*About Me Style Starts*/
.about h2 {
    width: auto;
    height: auto;
    text-align: center;
    border-right: solid 5px black;
    border-radius: 25%;
    padding: 40px;
    padding-right: 1em;
    margin: 10px;
    display: flex;
}

.about {
    display: flex;
    align-items: center;
}

body {
    background-color: lightgrey;
}

/*Work Style Starts*/
.work {
    display: flex;
    align-items: center;
}

.work h2 {
    width: auto;
    height: auto;
    text-align: center;
    border-right: solid 5px black;
    border-radius: 25%;
    padding: 40px;
    padding-right: 1em;
    margin: 10px;
    display: flex;
    
    
}

.work-grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: dense;
    gap: 10px;
    margin: 40px;

}

.grid-item {
    display: flex;
    justify-content: center;
    margin: 5px auto;
    border-radius: 5px;
    font-size: 35px;
    width: 100%;
}

.item1 {
  grid-column: span 5;
  grid-row: span 3;
  background-image: url(/assets/images/hero-bg.jpg);
  background-size: 100%;
  display: inline-block;
  text-align: start;
  text-shadow: 2px 2px 2px grey;
  border-radius: 10px;
}

.item1 h3 {
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: xx-large;
}

.item2 {
    grid-column: span 3;
    grid-row: span 2;
    background-image: url(/assets/images/Sean.png);
    background-size: 100%;
    display: inline-block;
    color: black;
    text-shadow: 2px 2px 2px grey;
    font-size: large;
    overflow: hidden;
    border-radius: 10px;
}

.item2 h3 {
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 10px;
}

.item3 {
    grid-row: 2;
    background-image: url(/assets/images/color-blobs.jpg);
    background-size: 100%;
    display: inline-block;
    color: black;
    text-shadow: 2px 2px 2px grey;
    font-size: large;
    overflow: hidden;
    border-radius: 10px;
}

.item3 h3 {
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: xx-small;
    
}
.item4 {
    grid-row: 1;
    background-image: url(/assets/images/digital-marketing-meeting.jpg);
    background-size: 100%;
    display: inline-block;
    color: black;
    text-shadow: 2px 2px 2px grey;
    font-size: large;
    overflow: hidden;
    border-radius: 10px;
}

.item4 h3 {
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: smaller;
}

/*Contact Style Starts Here*/
.contact h2 {
    width: auto;
    height: auto;
    text-align: center;
    border-right: solid 5px black;
    border-radius: 25%;
    padding: 40px;
    padding-right: 1em;
    margin: 10px;
    display: flex;
}

.contact {
    display: flex;
    align-items: center;
}

.contact nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 8em;
    
}

.contact nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    font-style: italic;
    background-color: black;
    border-radius: 10px;
    margin: 1em;
}


.contact nav ul li a:link {
    color: white;
}

.contact nav ul li a:visited {
    color: red;
}

/*Footer Style Start*/
footer {
    padding: 20px 35px;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 5px black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;